.simple-page {
    margin: 10px;
    border-radius: 8px;
    min-height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #35404b;
    padding: 25px 15px;
    color: #fff;
    width: 110%;
    text-align: center;
}

.input-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 90%;
    background-color: #35404b;
    max-width: 400px;
    margin-bottom: 20px;
}
.file-icon {
    width: 80px; /* Set your desired width */
    height: 20px; /* Set your desired height */
    margin-left: -55px; /* Space between input and icon */
}


.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #35404b;
    width: 100%;
    max-width: 200px;
    position: relative;
}

.vertical-line {
    border-left: 1px solid #fff;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 0;
    width: 2px; /* Adjust width as needed */
}

.input-wrapper {
    display: flex;
    align-items: center;
    background-color: #28313a;
    color: #fff;
    z-index: 2;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    position: relative;
    width: 90%;
}

.input-wrapper input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    flex: 1;
}

.input-icon {
    width: 100px;
    height: 20px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.remove-button {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px; /* Space between input and remove button */
    display: none; /* Initially hidden */
    position: absolute; /* Position it absolutely */
    top: -11px; /* Align to the top of the input */
    background-color: transparent;
    right: -3px; /* Align to the right of the input */
}

.input-wrapper:hover .remove-button {
    display: block; /* Show on hover */
}

.add-button {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: none; /* Initially hidden */
    position: absolute; /* Position it absolutely */
    top: 20px; /* Align to the bottom of the input */
    right: -4px; /* Align to the right of the input */
    transition: color 0.3s; /* Smooth color transition */
}

.input-wrapper:hover .add-button {
    display: block; /* Show on hover */
}

.custom-file-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px; /* Match input height */
    padding: 5px;
    border-radius: 5px;
    background-color: #28313a;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 2;
    width: 90%; /* Match input width */
    border: 1px solid transparent; /* Border for file input */
}

.custom-file-upload input {
    display: none; /* Hide the default file input */
}

.custom-file-upload:hover {
    border: 1px solid #fff; /* Change border on hover */
}

.file-preview {
    width: 100px; /* Adjust width for better resolution */
    height: 15px; /* Adjust height for better resolution */
    object-fit: cover; /* Maintain aspect ratio */
    margin-left: -40px;
}

.summary-result {
    margin-top: 20px;
    text-align: left;
}
/* Specific styles for audio file upload */
.audio-input-wrapper {
    height: 30px; /* Increase height for the audio input wrapper */
}

.audio-file-icon {
    width: 100px; /* Increase width of the file icon */
    height: 60px; /* Increase height of the file icon */
}

/* Adjust the file preview size */
.audio-file-preview {
    width: 150px; /* Adjust width for audio file preview */
    height: 30px; /* Adjust height for audio file preview */
    margin-left: -5px;
    background-color: #28313a;
}
