.simple-page {
    margin: 10px;
    border-radius: 8px;
    min-height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #35404b;
    padding: 25px 15px;
    color: #fff;
    width: 110%;
    text-align: center;
}

.input-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 90%;
    background-color: #35404b;
    max-width: 400px;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #35404b;
    width: 100%;
    max-width: 200px;
    position: relative;
}

.vertical-line {
    border-left: 1px solid #fff;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 0;
    width: 2px; /* Adjust width as needed */
    left: calc(50% - 1px); /* Center the line */
}


.input-wrapper {
    display: flex;
    align-items: center;
    background-color: #28313a;
    color: #fff;
    z-index: 2;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
    position: relative;
    width: 90%;
}

.input-wrapper input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    flex: 1;
}

.input-icon {
    width: 100px;
    height: 20px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.remove-button {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px; /* Space between input and remove button */
    display: none; /* Initially hidden */
    position: absolute; /* Position it absolutely */
    top: -11px; /* Align to the top of the input */
    background-color: transparent;
    right: -3px; /* Align to the right of the input */
}

.input-wrapper:hover .remove-button {
    display: block; /* Show on hover */
}

.add-button {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: none; /* Initially hidden */
    position: absolute; /* Position it absolutely */
    top: 20px; /* Align to the bottom of the input */
    right: -4px; /* Align to the right of the input */
    transition: color 0.3s; /* Smooth color transition */
}

.input-wrapper:hover .add-button {
    display: block; /* Show on hover */
}

.summary-result {
    margin-top: 20px;
    text-align: left;
}
.input-wrapper input[type="file"] {
    position: absolute; /* Position it absolutely */
    opacity: 0; /* Hide it */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    cursor: pointer; /* Pointer on hover */
}

.upload-image {
    width: 50%; /* Set width for the upload icon */
    height: 60%; /* Set height for the upload icon */
    cursor: pointer; /* Pointer on hover */
    position: absolute; /* Position it absolutely within the input wrapper */
    top: 50%; /* Center vertically */
    left: 15px; /* Adjust left position */
    transform: translateY(-50%); /* Centering adjustment */
}
